{% load i18n %}
{% load ltgt_filters %}

{% autoescape on %}
    <table class="table">
        <thead>
            <tr>
                {% for col in headers %}
                    <th scope="col">{{ col }}</th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% for k, v in row.items %}
                        <td>{{ v|default_if_none:'-' }}</td>
                    {% endfor %}
                </tr>
            {% empty %}
                <tr>
                    <td colspan="100">-</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endautoescape %}
